.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}

.about-img img {
    width: 20vw;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;

}

.about-content h3 {
    font-size: 2.6rem;

}

.about-content p {
    text-align: left;
    font-size: 2.3rem;
    margin: 2rem 0 3rem;

}