/* About */
.myabout {
    font-family: 'Roboto', sans-serif;
    padding: 30px 0;
    text-align: center;
    padding: 30px 0;
    color: aliceblue;
}

.about-section {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.about-section img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-right: 30px;
    object-fit: cover;
}

.about-text {
    color: rgba(240, 248, 255, 0.837);
    text-align: left;
    font-size: 30px;
    width: 50%;
}

.about-text h4 {
    color: rgb(42, 165, 165);
    margin: 0;
    font-weight: bold;
    font-size: 40px;
}

/* SKILLS */
.skills-container {
    text-align: center;

    margin-bottom: 50px;
}

.skills-container ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-container li {
    margin: 5px;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.skills-container li:hover {
    background-color: #333;
    color: #fff;
    transform: scale(1.1);
}


/* MEDIA QUERIES */
/* MEDIA QUERIES */
@media (max-width: 1200px) {

    .myhomepage,
    .myabout,
    .myportfolio,
    .mycontact {
        height: 100vh;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .myabout {
        height: 210vh;
    }

    .myportfolio {
        height: 60vh;
    }
}

@media (max-width: 768px) {
    .myabout {
        height: 280vh;
    }

    .myportfolio {
        height: 100vh;
    }
}

@media (max-width: 320px) {
    .myabout {
        height: 280vh;
    }

    .myportfolio {
        height: 170vh;
    }
}

/* ----- SCROLL TO TOP BUTTON ----- */

@media (max-width: 576px) {
    #scroll-to-top-button {
        bottom: 3%;
        right: 50%;
        width: 36px;
        height: 30px;
        line-height: 30px;
    }

    #scroll-to-top-button::before {
        font-size: 50px;
    }
}