/* About */
/* .spline-container {
    position: absolute;
    left: 5%;
    z-index: 0;
    width: 50px;
    height: 50px;
    margin: 10px;
    padding: 10px;
}

#spline {
    background-color: #ffffff00;
    left: 100%;
    margin: 0;
    width: 50px;
    height: 50px;
} */

.myabout {
    font-family: 'Roboto', sans-serif;
    padding: 30px 0;
    text-align: center;
    padding: 30px 0;
    color: aliceblue;
}

.about-section {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.about-section img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-right: 30px;
    object-fit: cover;
}

#about-title {
    display: flex;
    justify-content: center;
    color: rgb(42, 165, 165);
    margin: 0;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 50px;
}

.about-text {
    color: rgba(240, 248, 255, 0.837);
    text-align: left;
    font-size: 30px;
    width: 50%;
}

.about-text h4 {
    color: rgb(42, 165, 165);
    margin: 0;
    font-weight: bold;
    font-size: 40px;
}

/* BUTTONS */
#cv-resume-btn-container {
    display: flex;
    justify-content: center;
}

#cv-resume-button {
    padding: 10px;
    margin: 1px;
    width: 50%;
    font-variant: small-caps;
    font-size: large;
}

/* SKILLS */
.skills-container {
    font-family: 'Roboto', sans-serif;
    padding: 30px 0;
    text-align: center;
    padding: 30px 0;
    color: rgb(0, 0, 0);
}

#skill-icon-container {
    display: flex;
    justify-content: center;
}

#tech-exp-title {
    color: rgb(42, 165, 165);
    margin: 0;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 50px;
}

.skills-container li {
    list-style: none;
    margin: 10px;
    padding: 20px;
    background-color: #363636;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.skills-container li:hover {
    background-color: #d4d4d4c8;
    transform: scale(2.1);
    margin-right: 5%;
}


.item,
.designitem {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    font-size: 0;
}

/* MEDIA QUERIES */
@media (max-width: 1200px) {

    .myhomepage,
    .myabout,
    .myportfolio,
    .mycontact {
        height: 100vh;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .myabout {
        height: 210vh;
    }

    .myportfolio {
        height: 60vh;
    }
}

@media (max-width: 768px) {
    .myabout {
        height: 280vh;
    }

    .myportfolio {
        height: 100vh;
    }
}

@media (max-width: 320px) {
    .myabout {
        height: 280vh;
    }

    .myportfolio {
        height: 170vh;
    }
}

/* ----- SCROLL TO TOP BUTTON ----- */

@media (max-width: 576px) {
    #scroll-to-top-button {
        bottom: 3%;
        right: 50%;
        width: 36px;
        height: 30px;
        line-height: 30px;
    }

    #scroll-to-top-button::before {
        font-size: 50px;
    }
}


li:nth-child(1) .item {
    background-image: url('../../assets/img/techlogos/html.png');
}

li:nth-child(2) .item {
    background-image: url('../../assets/img/techlogos/css.png');
}

li:nth-child(3) .item {
    background-image: url('../../assets/img/techlogos/js.png');
}

li:nth-child(4) .item {
    background-image: url('../../assets/img/techlogos/react.png');
}

li:nth-child(5) .item {
    background-image: url('../../assets/img/techlogos/vue.png');
}

li:nth-child(6) .item {
    background-image: url('../../assets/img/techlogos/bootstrap.png');
}

li:nth-child(7) .item {
    background-image: url('../../assets/img/techlogos/next-js.svg');
}

li:nth-child(8) .item {
    background-image: url('../../assets/img/techlogos/node.png');
}

li:nth-child(9) .item {
    background-image: url('../../assets/img/techlogos/firebase.png');
}

li:nth-child(10) .item {
    background-image: url('../../assets/img/techlogos/postman.png');
}

/* ------------------------------------- */

li:nth-child(1) .designitem {
    background-image: url('../../assets/img/techlogos/figma.png');
}

li:nth-child(2) .designitem {
    background-image: url('../../assets/img/techlogos/xd.png');
}

li:nth-child(3) .designitem {
    background-image: url('../../assets/img/techlogos/photoshop.png');
}

li:nth-child(4) .designitem {
    background-image: url('../../assets/img/techlogos/light.png');
}

li:nth-child(5) .designitem {
    background-image: url('../../assets/img/techlogos/spline.png');
}