/* Contact */
.mycontact {
    padding: 30px 0;
    border: rgba(203, 15, 15, 0) solid 1px;
    color: rgb(255, 255, 255);
    font-size: 32px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}


#contact-txt1 {
    color: rgb(255, 255, 255);
    font-size: 32px;
}

#contact-txt2 {
    color: rgb(125, 247, 247);
    font-size: 28px;
}

#contact-txt3 {
    color: rgb(125, 247, 247);
    font-size: 32px;
}


.contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

#social-link {
    color: white;
}

#social-icon {
    height: 30px;
    width: 30px;
    background-color: rgb(125, 247, 247);
    border-radius: 100%;
    border: solid 1px rgba(125, 247, 247, 0);
}


.contact-info p {
    margin-bottom: 10px;
}

.contact-info a {
    color: #333;
    text-decoration: none;
}


.form-container {
    display: flex;
    justify-content: flex-start;
}

.form {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    background-color: #333;
}

#btn-send {
    text-align: center;
    border: 0px solid black;
    font-family: 'Roboto', sans-serif;

    font-size: larger;
    color: rgb(255, 255, 255);
    background-color: #33333300;
    text-align: left;
    cursor: pointer;
}

#btn-send:hover {
    color: rgb(125, 247, 247);
    cursor: pointer;
    font-weight: 900;

}

#btn-send:active {
    font-weight: 900;
    color: rgba(125, 209, 110, 0);
    cursor: pointer;
}


/* Media Queries */
@media (max-width: 767px) {
    .mycontact {
        padding: 20px 0;
    }
}

@media (max-width: 991px) {
    .form-container {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 767px) {
    #contact-txt1 {
        font-size: 28px;
    }

    #contact-txt2 {
        font-size: 24px;
    }

    #contact-txt3 {
        font-size: 28px;
    }

    .contact-info {
        align-items: center;
    }
}