/* Homepage */
.copyright {
    border: rgba(203, 15, 15, 0) solid 1px;
    text-align: center;
    padding: 30px 0;
    font-size: 13px;
    color: rgb(240, 248, 255);
}

.myhomepage {
    border: rgba(203, 15, 15, 0) solid 1px;
    text-align: center;
    padding: 30px 0;
    color: aliceblue;
    height: 100vh;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.my-name {
    font-size: 122px;
    letter-spacing: 5px;
    font-family: 'Poppins';
    font-variant: small-caps;
    margin-bottom: 20px;
    -webkit-text-fill-color: rgb(255, 255, 255);
}

.welcome-message {
    font-size: 32px;
    font-variant: small-caps;
    margin-bottom: 20px;
    -webkit-text-fill-color: rgb(42, 165, 165);
}


.introduction {
    font-size: 18px;
    color: aliceblue;
}

/* Media Queries */
@media (max-width: 991px) {
    .my-name {
        font-size: 72px;
    }

    .welcome-message {
        font-size: 28px;
    }

    .introduction {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .my-name {
        font-size: 52px;
    }

    .welcome-message {
        font-size: 24px;
    }

    .introduction {
        font-size: 14px;
    }
}