.myportfolio {
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    height: 100svh;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100px;
    margin-bottom: 10px;
}

#portfolio-title {
    display: flex;
    justify-content: center;
    color: rgb(42, 165, 165);
    margin: 0;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 50px;
}

.portfolio-grid {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}

#box {
    margin: 1px;
    width: 25rem;
    height: 27em;
}

.project-card-title {
    font-variant: small-caps;
}

.project-card-text {
    font-size: 20px;
}

@media (max-width: 991px) {
    .myportfolio {
        margin-left: 2%;
        margin-right: 2%;
    }

    #portfolio-title {
        font-size: 50px;
    }

    .portfolio-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #box {
        margin: 15%;
        width: 100%;
        height: 100px;
    }

    .project-card {
        width: 100%;
    }

}

@media (max-width: 767px) {
    .myportfolio {
        margin-left: 2%;
        margin-right: 2%;
    }

    #portfolio-title {
        font-size: 50px;
    }

    .portfolio-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #box {
        margin: 15%;
        width: 100%;
        height: 100px;
    }

    .project-card {
        width: 100%;
    }

}