/* MyPortfolio.css */

.myportfolio {
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#portfolio-title {
    display: flex;
    justify-content: center;
    color: rgb(42, 165, 165);
    margin: 0;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 50px;
}

.portfolio-grid {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project-card-title {
    font-variant: small-caps;
}

.project-card-text {
    font-size: 20px;
}