/* MyPortfolio.css */
.portfolio-item {
    max-width: 90%;
    margin: 20px auto;
}

.myportfolio {
    color: rgb(255, 255, 255);
    font-size: 32px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.portfolio-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-item {
    width: 530px;
    height: 350px;
    margin: 40px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 767px) {
    .portfolio-item {
        width: 90%;
        height: auto;
        margin: 20px;
    }
}

.portfolio-item:hover {
    transform: translateY(-30px);
    box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.15);
}

.portfolio-item img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

.portfolio-item:hover img {
    transform: scale(1.05);
}

.portfolio-item-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
}

.portfolio-item:hover .portfolio-item-info {
    color: aliceblue;
    opacity: 1;
    visibility: visible;
    height: 100%;
    width: 100%;
    background-color: rgb(26, 26, 26);
}