/* BODY ELEMENTS */

html,
body {
    height: 100%;
    width: 100%;
    background-color: #151515;
}

.body-container {
    background-color: #151515;
    /* background-image: url("/src/assets/img/hello.png"); */
    background-position-x: 5vw;
    background-position-y: 50vh;
    background-repeat: no-repeat;
}


/* ----- SCROLL TO TOP BUTTON ----- */

#scroll-to-top-button {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    color: #7ff7f7c6;
    display: none;
    position: fixed;
    cursor: pointer;
    bottom: 20px;
    border: none;
    background-color: #15151500;
    right: 20px;
    z-index: 99;
    width: 70px;
    height: 70px;
    line-height: 40px;
    font-size: 50px;
    text-align: center;
}

#scroll-to-top-button::before {
    content: "▲";
    display: inline-block;
    vertical-align: middle;
}

#scroll-to-top-button:hover {
    color: #ffffff;
    cursor: pointer;
}

/* ----- MEDIA QUERYS----- */
@media (max-width: 767px) {

    .myhomepage {
        height: 100vh;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .myabout {
        height: 200vh;
        height: auto;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .myportfolio {
        height: auto;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .mycontact {
        height: 100vh;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 50px;
        margin-bottom: 50px;
    }




}

@media (max-width: 967px) {

    .myhomepage {
        height: 100vh;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .myabout {
        height: 200vh;
        height: auto;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .myportfolio {
        height: 100vh;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .mycontact {
        height: 100vh;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 50px;
        margin-bottom: 50px;
    }




}

/* ----- SCROLL TO TOP BUTTON  ----- */

@media (max-width: 576px) {
    #scroll-to-top-button {
        bottom: 3%;
        right: 50%;
        width: 36px;
        height: 30px;
        line-height: 30px;
    }

    #scroll-to-top-button::before {
        font-size: 50px;
    }
}